@using GraffLicenceManager.Pages

<h3 style="margin-top: 8px; color: @inputfieldColor">@TopText</h3>
<div style="border-color: @inputfieldColor" class="inputfield">
    <input style="color: @inputfieldTextColor" placeholder=@Placeholder value="@Value" @oninput="@((e)=>OnInputfieldValueChanged(e))" @onfocusout="@(() => OnInputfieldFocusOut())" @onfocus="@(() => OnInputfieldFocused())" type=@SetInputfieldType()>
    <img style="opacity: @inputfieldIconOpacity" src=@IconPath alt="">
</div>
<h3 style="margin-bottom: 8px; color: @inputfieldColor">@bottomText</h3>

@code {
    public enum InputType
    {
        Text,
        Number,
        Password
    }

    [Parameter]
    public string TopText { get; set; }
    [Parameter]
    public string Placeholder { get; set; }
    [Parameter]
    public string IconPath { get; set; } = "/icons/keyboard.svg";
    [Parameter]
    public InputType Type { get; set; } = InputType.Text;
    [Parameter]
    public EventCallback<string> OnValueChanged { get; set; }
    [Parameter]
    public string Value { get; set; }

    string bottomText;
    public string inputfieldColor  = "8E918F";
    public string inputfieldTextColor = "8E918F";

    float inputfieldIconOpacity = 1;

    async void OnInputfieldValueChanged(ChangeEventArgs args)
    {
        Value = args?.Value?.ToString();

        if (Value.Length < 3 && Type != InputType.Number)
        {
            bottomText = "Поле содержит мало символов";
            inputfieldColor = "#F2B8B5";
            inputfieldTextColor = "#F2B8B5";

            IconPath = "/icons/error.svg";
            await OnValueChanged.InvokeAsync(string.Empty);
        }
        else if (string.IsNullOrWhiteSpace(Value))
        {
            bottomText = "Недопустимое значение";
            inputfieldColor = "#F2B8B5";
            inputfieldTextColor = "#F2B8B5";

            IconPath = "/icons/error.svg";
            await OnValueChanged.InvokeAsync(string.Empty);
        }
        else
        {
            bottomText = "Значение введено корректно";
            inputfieldColor = "#6DD58C";
            inputfieldTextColor = "#6DD58C";

            IconPath = "/icons/done.svg";
            await OnValueChanged.InvokeAsync(Value);
        }
    }

    void OnInputfieldFocused()
    {
        if (inputfieldColor == "8E918F")
        {
            inputfieldColor = "#E3E3E3";
            inputfieldTextColor = "#E3E3E3";
        }
        inputfieldIconOpacity = 0;
    }

    void OnInputfieldFocusOut()
    {
        if (inputfieldColor == "#E3E3E3")
        {
            inputfieldColor = "8E918F";
            inputfieldTextColor = "8E918F";
        }
        inputfieldIconOpacity = 1;
    }

    string SetInputfieldType()
    {
        if (Type == InputType.Text) return "text";
        else if (Type == InputType.Number) return "number";
        else if (Type == InputType.Password) return "password";
        else return string.Empty;
    }
}
