@page "/licenses"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<link rel="stylesheet" href="css/main.css">
<div class="header">
    @switch(pageState)
    {
        case PageState.Licenses:
            <img class="logo" src="icons/Logo_GRAFFinteractive_Default.svg" alt="">
            <p>GRAFF Interactive Validator</p>
            <img src="icons/burger.svg" alt="">
            break;

        case PageState.LicenseInfo:
            <img class="logo" style="margin-left: 0; margin-right: auto" src="icons/back.svg" alt="" @onclick="@(()=>SetMode(PageState.Licenses))">
            <p>@selectedLicense.productName</p>
            <img style="margin-right: 0; margin-left: auto" src="icons/menu.svg" alt="">
            break;

        case PageState.AddLicense:
            <img class="logo" style="margin-left: 0; margin-right: auto" src="icons/back.svg" alt="" @onclick="@(()=>SetMode(PageState.Licenses))">
            <p>Добавить лицензию</p>
            <img style="margin-right: 0; margin-left: auto" src="icons/menu.svg" alt="">
            break;
    }
</div>
<div class="content">
    @switch(pageState)
    {
        case(PageState.Licenses):
            @foreach(var lic in licenses)
            {
                <div class="card" @onclick="@(eventArgs => OnLicenseSelect(lic.id))">
                    <div class="card-top-content">
                        @if(lic.iconPath == string.Empty)
                        {
                            <img src="icons/IconDefault.svg" alt="">
                        }
                        else
                        {
                            <img src="@lic.iconPath" alt="">   
                        }
                        <div class="info">
                            <h1>@lic.productName</h1>
                            <h2>@lic.companyName</h2>
                        </div>
                        <div class="status">
                            @if(lic.status)
                            {
                                <h3 style="font-size: 11px; color: #6DD58C;">ON</h3>
                                <div class="status-icon-on"></div>
                            }
                            else
                            {
                                <h3 style="font-size: 11px; color: #DA0000;">OFF</h3>
                                <div class="status-icon-off"></div>
                            }
                        </div>
                    </div>
                    <div class="card-bottom-content">
                        <div class="state">
                            <p>Одобрено копий:</p>
                            <p>Активировано копий:</p>
                            <p>Сейчас онлайн:</p>
                        </div>
                        <div class="state-value">
                            <p>@lic.licensesCounter</p>
                            <p>@computers.Count(x => x.productName == lic.productName)</p>
                            <p>@computers.Where(x => x.productName == lic.productName).Count(x => x.isActive)</p>
                        </div>
                        <img src="icons/FAB_Edit.svg" alt="">
                    </div>
                </div>
            }
        break;

        case(PageState.LicenseInfo):
            <h2>Информация о лицензии</h2>
            <div class="card">
                <div class="card-top-content">
                    @if(selectedLicense.iconPath == string.Empty)
                    {
                        <img src="icons/IconDefault.svg" alt="">
                    }
                    else
                    {
                        <img src="@selectedLicense.iconPath" alt="">   
                    }
                    <div class="info">
                        <h1>@selectedLicense.productName</h1>
                        <h2>@selectedLicense.companyName</h2>
                    </div>
                    <div class="status">
                        @if(selectedLicense.status == true)
                        {
                            <h3 style="font-size: 11px; color: #6DD58C;">ON</h3>
                            <div class="status-icon-on"></div>
                        }
                        else
                        {
                            <h3 style="font-size: 11px; color: #DA0000;">OFF</h3>
                            <div class="status-icon-off"></div>
                        }
                    </div>
                </div>
                <div class="card-bottom-content">
                    <div class="state">
                        <p>Лицензия добавлена:</p>
                        <p>Доступ без интернета:</p>
                        <p style="margin: 8px"> </p>
                        <p>Одобрено копий:</p>
                        <p>Активировано копий:</p>
                        <p>Сейчас онлайн:</p>
                    </div>
                    <div class="state-value">
                        <p>@GetCorrectDateFormat(selectedLicense.registrationDate)</p>
                        <p>@selectedLicense.trialPeriod</p>
                        <p style="margin: 8px"> </p>
                        <p>@selectedLicense.licensesCounter</p>
                        <p>@computers.Where(x => x.productName == selectedLicense.productName).Count()</p>
                        <p>@computers.Where(x => x.productName == selectedLicense.productName && x.isActive).Count()</p>
                    </div>
                    <img style="position: absolute; right: 48px; bottom: 0" src="icons/FAB_Edit.svg" alt="">
                    @if(selectedLicense.status == true)
                    {
                        <img src="/icons/FAB_PlayPause.svg" alt="" @onclick="@(()=>OnLicenseStatusChanged(selectedLicense.productName, !selectedLicense.status))">
                    }
                    else
                    {
                        <img src="/icons/FAB_Play.svg" alt="" @onclick="@(()=>OnLicenseStatusChanged(selectedLicense.productName, !selectedLicense.status))">
                    }
                </div>
            </div>
            <h2>Привязанные компьютеры</h2>
            @foreach(var computer in computers.Where(x => x.productName == selectedLicense.productName))
            {
                if(computersCounter == 0)
                {
                    cardPosition = "card-top";
                }
                else if(computersCounter > 0 && computersCounter < computers.Where(x => x.productName == selectedLicense.productName).Count() - 1)
                {
                    cardPosition = "card-middle";
                }
                else
                {
                    cardPosition = "card-bottom";
                }

                computersCounter++;

                <div class=@cardPosition>
                    <div class="card-top-content">
                        <img src="icons/computer.svg" style="height: 40px;" alt="">
                        <div class="info">
                            <h1>@computer.localUserName</h1>
                            @if(computer.isActive)
                            {
                                <h2 style="color: #6DD58C;">@computer.geolocation • Online</h2>
                            }
                            else
                            {
                                <h2 style="color: #8E918F;">@computer.geolocation • Offline @GetCorrectDateFormat(computer.lastActivity)</h2>
                            }
                        </div>
                        <div class="status">
                            @if(computer.isBanned == false)
                            {
                                <h3 style="font-size: 11px; color: #6DD58C;">ON</h3>
                                <div class="status-icon-on"></div>
                            }
                            else
                            {
                                <h3 style="font-size: 11px; color: #DA0000;">OFF</h3>
                                <div class="status-icon-off"></div>
                            }
                        </div>
                    </div>
                    <div class="card-bottom-content">
                        <div class="state">
                            <p>@computer.machineName</p>
                            <p>Активирован: @GetCorrectDateFormat(computer.activationDate)</p>
                        </div>
                        <img style="margin-left:auto; margin-right: 0" src="icons/FAB_Edit.svg" alt="">
                        @if(!computer.isBanned)
                        {
                            computerIconPath = "icons/FAB_PlayPause.svg";
                        }
                        else 
                        {
                            computerIconPath = "icons/FAB_Play.svg";
                        }
                        <img @onclick="@(()=> OnComputerBanned(computer.hardwareId, !computer.isBanned))" style="margin-left: 8px" src=@computerIconPath alt="">
                    </div>
                </div>
            }
            computersCounter = 0;
        break;

        case PageState.AddLicense:
                <div class="content">
                    <div class="card">
                        <h3 style="margin-top: 8px; color: @inputfieldColor[0]">@inputfieldTopText[0]</h3>
                        <div style="border-color: @inputfieldColor[0]" class="inputfield">
                            <input placeholder="Название приложения" value="@inputValue[0]" @onchange="@((e)=>OnInputfieldValueChanged(0, e))" @onfocusout="@(() => OnInputfieldFocusOut(0))" @onfocus="@(() => OnInputfieldFocused(0))" type="text">
                            <img src="/icons/keyboard.svg" alt="">
                        </div>
                        <h3 style="margin-bottom: 8px; color: @inputfieldColor[0]">@inputfieldBottomText[0]</h3>

                        <h3 style="margin-top: 8px; color: @inputfieldColor[1]">@inputfieldTopText[1]</h3>
                        <div style="border-color: @inputfieldColor[1]" class="inputfield">
                            <input placeholder="Название компании" value="@inputValue[1]" @onchange="@((e)=>OnInputfieldValueChanged(1, e))" @onfocusout="@(() => OnInputfieldFocusOut(1))" @onfocus="@(() => OnInputfieldFocused(1))" type="text">
                            <img src="/icons/keyboard.svg" alt="">
                        </div>
                        <h3 style="margin-bottom: 8px; color: @inputfieldColor[1]">@inputfieldBottomText[1]</h3>

                        <h3 style="margin-top: 8px; color: @inputfieldColor[2]">@inputfieldTopText[2]</h3>
                        <div style="border-color: @inputfieldColor[2]" class="inputfield">
                            <input placeholder="Количество компьютеров"value="@inputValue[2]" @onchange="@((e)=>OnInputfieldValueChanged(2, e))" @onfocusout="@(() => OnInputfieldFocusOut(2))" @onfocus="@(() => OnInputfieldFocused(2))" type="text">
                            <img src="/icons/keyboard.svg" alt="">
                        </div>
                        <h3 style="margin-bottom: 8px; color: @inputfieldColor[2]">@inputfieldBottomText[2]</h3>

                        <h3 style="margin-top: 8px; color: @inputfieldColor[3]">@inputfieldTopText[3]</h3>
                        <div style="border-color: @inputfieldColor[3]" class="inputfield">
                            <input placeholder="Триальный период" value="@inputValue[3]" @onchange="@((e)=>OnInputfieldValueChanged(3, e))" @onfocusout="@(() => OnInputfieldFocusOut(3))" @onfocus="@(() => OnInputfieldFocused(3))" type="text">
                            <img src="/icons/keyboard.svg" alt="">
                        </div>
                        <h3 style="margin-bottom: 8px; color: @inputfieldColor[3]">@inputfieldBottomText[3]</h3>
                    </div>
                </div>
            break;
    }
</div>>

@code {
    public enum PageState
    {
        Licenses,
        LicenseInfo,
        AddLicense
    }

    private string[] inputValue { get; set; } = new string[4] { string.Empty, string.Empty, string.Empty, string.Empty };

    private HubConnection connection;
    private List<License> licenses = new List<License>();
    private List<Computer> computers = new List<Computer>();
    private PageState pageState = PageState.AddLicense;

    private License selectedLicense;
    private string cardPosition = "card-top";
    private string computerIconPath;

    private int computersCounter;

    private string[] inputfieldColor = new string[4] { "#8E918F", "#8E918F", "#8E918F", "#8E918F" };
    private string[] inputfieldTopText = new string[4] { string.Empty, string.Empty, string.Empty, string.Empty };
    private string[] inputfieldBottomText = new string[4] { string.Empty, string.Empty, string.Empty, string.Empty };

    private string GetCorrectDateFormat (string currentFormat)
    {
        DateTime correctFormat = DateTime.Parse(currentFormat);
        return correctFormat.ToShortDateString();
    }

    private void SetMode(PageState state)
    {
        pageState = state;
        StateHasChanged();
    }

    protected async override Task OnInitializedAsync()
    {
        connection = new HubConnectionBuilder()
            .WithUrl(NavigationManager
            .ToAbsoluteUri("/adminhub"))
            .Build();

        connection.On<List<License>, List<Computer>>("OnLicensesListResponse", (licenses, computers) =>
        {
            this.licenses = licenses;
            this.computers = computers.OrderBy(x => x.productName).ToList();

            StateHasChanged();
        });

        connection.On<License>("OnAddNewLicense", license =>
        {
            licenses.Add(license);
            StateHasChanged();
        });

        connection.On<License>("OnLicenseStatusChanged", license =>
        {
            var licenseIndex = licenses.IndexOf(licenses.Find(x => x.id == license.id));
            licenses[licenseIndex] = license;
            StateHasChanged();
        });

        connection.On<string>("OnLicenseRemoved", licenseRegData =>
        {
            licenses.Remove(licenses.Find(x => x.registrationDate == licenseRegData));
            StateHasChanged();
        });

        connection.On<Computer>("OnAddNewComputer", computer =>
        {
            computers.Add(computer);
            StateHasChanged();
        });

        connection.On<Computer>("OnComputerSatusChanged", computer =>
        {
            var computerIndex = computers.IndexOf(computers.Find(x => x.id == computer.id));
            computers[computerIndex] = computer;
            StateHasChanged();
        });

        connection.On<string>("OnComputerRemoved", computerRegDate =>
        {
            computers.Remove(computers.Find(x => x.activationDate == computerRegDate));
            StateHasChanged();
        });

        await connection.StartAsync();
        await connection.SendAsync("OnLicensesListRequest");
    }

    private void OnLicenseSelect(string licenseid)
    {
        selectedLicense = licenses.Find(x => x.id == licenseid);
        pageState = PageState.LicenseInfo;
        StateHasChanged();
    }

    private async void OnComputerBanned(string hardwareId, bool banState)
    {
        await connection.SendAsync("OnComputerBanned", hardwareId, banState);
        computers.Find(x => x.hardwareId == hardwareId).isBanned = banState;

        StateHasChanged();
    }

    private async void OnLicenseStatusChanged(string productName, bool licenseState)
    {
        await connection.SendAsync("OnLicenseStatusChanged", productName, licenseState);
        var license = licenses.Find(x => x.productName == productName);
        license.status = licenseState;
        selectedLicense = license;

        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        if (connection != null)
        {
            await connection.StopAsync();
            await connection.DisposeAsync();
        }
    }

    public void OnInputfieldFocused(int index)
    {
        inputfieldColor[index] = "#E3E3E3";

        switch(index)
        {
            case 0:
                inputfieldTopText[index] = "Название приложения";
                break;

            case 1:
                inputfieldTopText[index] = "Название компании-заказчика";
                break;

            case 2:
                inputfieldTopText[index] = "Количество слотов компьютеров, шт";
                break;

            case 3:
                inputfieldTopText[index] = "Время триального периода, ч";
                break;
        }
    }

    public void OnInputfieldFocusOut(int index)
    {
        if(inputfieldColor[index] == "#E3E3E3") inputfieldColor[index] = "#8E918F";
        for(int i = 0; i < inputfieldTopText.Length; i++)
        {
            inputfieldTopText[i] = string.Empty;
        }
    }

    public void OnInputfieldValueChanged(int index, ChangeEventArgs args)
    {
        inputValue[index] = args?.Value?.ToString();
        Console.WriteLine($"{index}, {inputValue[index]}");

        if(inputValue[index] == string.Empty)
        {
            inputfieldBottomText[index] = "Недопустимое значение";
            inputfieldColor[index] = "#F2B8B5";
        }
        else
        {
            switch (index)
            {
                case 0:
                    inputfieldBottomText[index] = "Поле корректно";
                    inputfieldColor[index] = "#C4EED0";
                    break;

                case 1:
                    inputfieldBottomText[index] = "Поле корректно";
                    inputfieldColor[index] = "#C4EED0";
                    break;

                case 2:
                    inputfieldBottomText[index] = "Поле корректно";
                    inputfieldColor[index] = "#C4EED0";
                    break;

                case 3:
                    inputfieldBottomText[index] = "Поле корректно";
                    inputfieldColor[index] = "#C4EED0";
                    break;
            }   
        }
    }
}